html {
  scroll-behavior: smooth;
}

.home {
  background-color: #87bfff;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

.home-title {
  color: white;
  font-size: 5.2em;
  margin: 0;
}

.drk-blue {
  color: #666a86;
  font-size: 4em;
  margin: 0;
  width: 100%;
}

.rules {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left {
  grid-column: 1 / 2;
  grid-row: 1 / span2;
  justify-self: center;
}
.right {
  grid-column: 2 / 2;
  align-items: top;
  justify-content: start;
  margin: 0 160px 40px 0;
  text-align: center;
}

.title {
  justify-self: start;
  padding-bottom: 20px;
}

.subheading {
  text-align: left;
  padding-top: 25px;
}

.rule-list {
  text-align: left;
  align-self: start;
  padding: 80px;
  width: 500px;
  height: 500px;
}

#whats-my-name {
  grid-row: 1/2;
  padding: 150px 60px 0;
  text-align: center;
}

.draw-input {
  font-family: 'Raleway', sans-serif;
  grid-row: 2/3;
  height: 20px;
  margin-top: 40px;
  border: none;
  box-shadow: 10px 5px 5px black;
}

.draw-input:focus {
  background-color: #b3e7bf;
  outline: 0;
}
#guess-first {
  height: 10px;
}

.guess-input {
  font-family: 'Raleway', sans-serif;
  grid-row: 3/4;
  height: 20px;
  margin-top: 40px;
  border: none;
  box-shadow: 10px 5px 5px black;
}

.guess-input:focus {
  background-color: #b3e7bf;
  outline: 0;
}

.top {
  display: inline-flex;
  justify-content: space-around;
}

.start {
  align-self: flex-end;
  border-radius: 20px;
  border: none;
  margin-left: 55px;
  height: 150px;
  width: 150px;
  color: #666a86;
  background-color: #b6dabe;
  font-style: italic;
  font-size: 40px;
  color: white;
}

.start:hover {
  background-color: #b3e7bf;
}

.start:focus {
  outline: 0;
}

#play-btn {
  grid-row: 4/5;
  height: 100px;
  width: 200px;
  padding-top: 10px;
  border-radius: 100%;
  color: #666a86;
  font-size: x-large;
  background-color: #d3f6db;
  box-shadow: 10px 5px 5px #666a86;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: #4d5066;
  box-shadow: inset 0 1px 0 #afb3d4, 0 10px 0 #afb3d4;
  filter: drop-shadow(color=#000, offx=0px, offy=1px);
}

#play-btn:active {
  top: 10px;
  background-color: #9acfa6;
  box-shadow: inset 0 1px 0 #666a86, 0 1px 0 #545870;
}

#play-btn:after {
  content: '';
  /* height: 100%;
  width: 100%; */
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #77a782;
  border-radius: 100%;
  transition-delay: 2s;
}

#play-btn:hover {
  background-color: #b3e7bf;
}

#play-btn:focus {
  outline: 0;
}

p {
  font-style: italic;
  text-align: center;
}

/* draw.html */

header {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.draw {
  background-color: #666a86;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

.player {
  color: white;
  font-size: 5.2em;
  margin: 0;
  padding-left: 50px;
}

.instructions {
  color: #87bfff;
  font-size: 4em;
  margin: 0;
  padding-left: 80px;
  width: 100%;
}

.tools {
  display: grid;
  grid-template-rows: 30vh 30vh 30vh;
  grid-template-columns: 850px 10% auto;
  height: 100%;
}

#paint {
  grid-row: 1 / span 3;
  /* grid-column: 1 / span 3; */
  background-color: #87bfff;
  margin-bottom: 150px;
}

#paint:hover {
  cursor: url(./imgs/62913-crayon-icon.png), auto;
}

.check {
  grid-row: 3/ 4;
  grid-column: 2 /3;
  justify-self: left;
  align-self: start;
  background-image: url('./imgs/button-smaller-check-01.svg');
  height: 150px;
  width: 150px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.check:hover {
  box-shadow: 10px 5px 20px white;
}

.check:focus {
  outline: 0;
}

#color {
  /* position: fixed; */
  margin: 0;
  align-self: center;
  grid-row: 2 / 3;
  grid-column: 2 /3;
  height: auto;
  width: 800px;
  text-align: right;
  font-size: 30px;
  cursor: url(./imgs/62913-crayon-icon.png), auto;
}

.base-timer {
  grid-row: 1 / 2;
  grid-column: 2 /3;
  align-self: center;
  font-size: 80px;
  height: 100px;
  width: 100px;
}

.clear {
  width: 150px;
  height: 150px;
  grid-column: 2 /3;
  grid-row: 2/3;
  background-color: #eb9486;
  font-style: italic;
  font-size: 40px;
  border: none;
  border-radius: 20px;
  color: white;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.clear:hover {
  box-shadow: 10px 5px 20px white;
  cursor: url(imgs/eraser.png), auto;
}

.clear:focus {
  outline: 0;
}

#base-timer-label {
  position: relative;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #666a86;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 40px;
  color: #87bfff;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal.show {
  display: flex;
}

.player1,
.player2 {
  color: white;
}
