html {
  scroll-behavior: smooth;
}

.home {
  background-color: #87bfff;
  font-family: 'Raleway', sans-serif;
}

.home-title {
  color: white;
  font-size: 5.2em;
  margin: 0;
}

.drk-blue {
  color: #666a86;
  font-size: 4em;
  margin: 0;
  width: 100%;
}

.rules {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.left {
  grid-column: 1 / 2;
  grid-row: 1 / span2;
  justify-self: center;
}
.right {
  grid-column: 2 / 2;
  align-items: top;
  justify-content: start;
  margin: 0 160px 40px 0;
  text-align: center;
}

.title {
  justify-self: start;
  padding: 20px;
}
.rule-list {
  align-self: start;
  padding: 80px;
}
#draw-first {
  grid-row: 2 /3;
  order: 1;
}
.draw-input {
  grid-row: 2/3;
  height: 20px;
  margin-top: 40px;
  border: none;
  box-shadow: 10px 5px 5px black;
}

.draw-input:focus {
  background-color: #b3e7bf;
}
#guess-first {
  grid-row: 3/4;
}

.guess-input {
  grid-row: 3/4;
  height: 20px;
  margin-top: 40px;
  border: none;
  box-shadow: 10px 5px 5px black;
}

.guess-input:focus {
  background-color: #b3e7bf;
}

#play-btn {
  grid-row: 4/5;
  height: 100px;
  width: 200px;
  border-radius: 100%;
  color: #666a86;
  font-size: x-large;
  background-color: #d3f6db;
  box-shadow: 10px 5px 5px #666a86;
}

#play-btn:hover {
  background-color: #b3e7bf;
}

p {
  font-style: italic;
  text-align: center;
}

/* draw.html */

.draw {
  background-color: #666a86;
  font-family: 'Raleway', sans-serif;
}

.player,
.guesser {
  color: white;
  font-size: 5.2em;
  margin: 0;
}

.instructions {
  color: #87bfff;
  font-size: 4em;
  margin: 0;
  width: 100%;
}

.tools {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

#paint {
  grid-row: 1 / span 3;
  /* grid-column: 1 / span 3; */
  background-color: #87bfff;
}

#paint:hover {
  cursor: url(./imgs/62913-crayon-icon.png), auto;
}

.check {
  grid-row: 3/ 4;
  grid-column: 2 /3;
  justify-self: left;
  align-self: end;
  background-image: url('./imgs/button-smaller-check-01.svg');
  height: 150px;
  width: 150px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.check:hover {
  box-shadow: 10px 5px 20px white;
}

#color {
  align-self: center;
  grid-row: 2 / 3;
  grid-column: 2 /3;
  height: auto;
  width: auto;
  text-align: left;
  font-size: 30px;
}

.base-timer {
  grid-row: 1 / 2;
  grid-column: 2 /3;
  align-self: center;
  font-size: 80px;
  height: 100px;
  width: 100px;
}

.clear {
  width: 90%;
  background-color: #eb9486;
  font-style: italic;
  border: none;
  border-radius: 20px;
  color: white;
}

/* .base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
} */

#base-timer-label {
  position: relative;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #666a86;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 80px;
  color: #87bfff;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal.show {
  display: flex;
}

.player1,
.player2 {
  color: white;
}
